@import url(https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap);
body{
    color: white;
    background: url(https://images4.alphacoders.com/102/thumb-1920-102944.jpg) no-repeat center center/cover;
    opacity: 0.98;

}
.splitScreen {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .topPane {
    grid-column: 1;
    grid-row: 1;

    
  }

  .bottomPane {
    grid-column: 2;
    grid-row: 1;
    border-left: 2px solid rgb(0, 0, 0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .gif{
    width:30vw;
    height:40vh;
    background: url(https://media.giphy.com/media/d5ZZjoSigvWJmfyzKf/giphy.gif) no-repeat center center/cover;
    border-radius: 2vh;
  }
  form{
      width: 50%;
      margin-top: 165px;
      margin-left: 100px;
      border-radius: 20%;
  }
form>input{
    border-radius: 20%;
    width: 500px;
    text-align: center;
    color: white;
    opacity: 0.8;
    padding: 10px;
    margin: 10px;
    background-color: black;
    font-family: 'Baloo Bhai', cursive;
}
  form>input:hover{
    font-weight: bold;
    font-size: 14px;
    
  }