@import url(https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap);
.container{
    width: 100vw;
    height:10vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.541);
    font-family: 'Baloo Bhai', cursive;
}
.left img {
    filter: invert(100%);
    cursor: pointer;
    font-family: 'Baloo Bhai', cursive;
}
.left{
    display: flex;
    flex-direction: column;
    width: 40px;
    color: white;
    font-family: 'Baloo Bhai', cursive;
}
ul{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-items: center;
    font-family: 'Baloo Bhai', cursive;
   
}
li{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    font-family: 'Baloo Bhai', cursive;
}
.li{
    text-decoration: none;  
    list-style: none;
    width: 121px;
    text-align: center;
    color: white;
    font-family: 'Baloo Bhai', cursive;
}
.mid{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;  
    list-style: none;
    align-items: center;
    justify-items: center;
    margin-left: 402px;
    font-family: 'Baloo Bhai', cursive;
}
.right{
    margin-left: 260px;
    padding: 10px;
    font-family: 'Baloo Bhai', cursive;
}
button{
    padding: 10px;
    margin: 4px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color:black;
    font-family: 'Baloo Bhai', cursive;
}
.btn {
   
   cursor: pointer;
   font-family: 'Baloo Bhai', cursive;
}

.navbar li a:hover,
    .navbar li a.active {
        font-weight: bold;
        color: grey;
        background-color: rgb(237, 241, 236);
        border-radius: 0%;


    }
    .btn:hover {
        background-color: rgb(237, 241, 236);
        color: grey;
        font-weight: bold;
        font-size: 16px;
        
    }
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
    .container{
        width: 100vw;
       height:10vh;
        background-color: rgba(0, 0, 0, 0.541);
        position: relative;
        overflow: hidden;
    }
    header{
        width: 100vw;
        position: relative;
        overflow: hidden;
    }
    #title{
        font-size: 13px;
    }
    .left{
        width: 25px;
        

    }
    .mid{
        display: flex;
        width:70px;
        margin-left: 0px;
        float: none;
        padding: 0px;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .right{
        margin-left: 426px;
    padding: 5px;
    }
    button{
        font-size: 13px;
    }
    
    



    }
    @media only screen and (max-width: 652px) {
        /* For mobile phones: */
    .container{
        width: 100vw;
       height:10vh;
        background-color: rgba(0, 0, 0, 0.541);
        position: relative;
        overflow: hidden;
    }
    header{
        width: 100vw;
        position: relative;
        overflow: hidden;
    }
    #title{
        font-size: 13px;
    }
    .left{
        width: 25px;
        

    }
    .mid{
        display: flex;
        width:70px;
        margin-left: 0px;
        float: none;
        padding: 0px;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .right{
        margin-left: 426px;
    padding: 5px;
    }
    button{
        font-size: 13px;
    }
    
    



    }
    @media only screen and (max-width: 711px) {
        /* For mobile phones: */
    .container{
        width: 100vw;
       height:10vh;
        background-color: rgba(0, 0, 0, 0.541);
        position: relative;
        overflow: hidden;
    }
    header{
        width: 100vw;
        position: relative;
        overflow: hidden;
    }
    #title{
        font-size: 13px;
    }
    .left{
        width: 25px;
        

    }
    .mid{
        display: flex;
        width:70px;
        margin-left: 0px;
        float: none;
        padding: 0px;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .right{
        margin-left: 426px;
    padding: 5px;
    }
    button{
        font-size: 13px;
    }
    
    



    }

@media only screen and (min-width : 320px) and (max-width : 480px) {

/* Your Styles go here*/
     /* For mobile phones: */
     .container{
        width: 100vw;
        display: flex;
        flex-direction: row;
       height:10vh;
        background-color: rgba(0, 0, 0, 0.541);
        position: relative;
        overflow: hidden;
    }
    header{
        width: 100vw;
        position: relative;
        overflow: hidden;
    }
    #title{
        font-size: 7px;
    }
    .left{
        width: 15px;
        

    }
    ul.navbar{
        margin: 20px;
        width: 410px;
        height: 320px;
        /* background-color: grey; */
        float: left;
        list-style-type: none;
      }
      
      ul.navbar  li {
        display:inline;
        padding: 10px;
        margin: 0;
        display: inline;
        list-style: none;
      }
      
      ul.navbar li a {
        margin: 0 0 0 0;
      }
    .mid{
        display: flex;
        width: 1px;
        margin: 1px;
        margin-left: 0px;
        float: none;
        padding: 0px;
        font-size: 7px;
        position: absolute;
        top: 50%;
        left: -10%;
        transform: translate(-10%, -50%);
    }
    #home{
        margin-left: 15px;
        padding: 0px;
        margin-right: 0px;
    }
    .right{
        margin-left: 174px;
    padding: 5px;
    }
    button{
        font-size: 8px;
        padding: 5px;
    }
    

}

    